<header>
    <nav class="navbar is-link">
        <div class="navbar-brand">
            <a href="{% url 'room:index' %}" class="navbar-item is-size-3 ml-4">
                DevBuddy
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <a href="{% url 'room:create' %}" class="has-text-white">ルーム作成</a>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated  %}
                            <p class="mr-5">
                                {{ request.user }} さんようこそ
                            </p>
                            <a href="{% url 'accounts:logout' %}" class="button is-primary mr-5">
                                ログアウト
                            </a>
                        {% else %}
                            <a href="{% url 'accounts:signup' %}" class="button is-primary mr-5">
                                <strong>新規登録</strong>
                            </a>
                            <a href="{% url 'accounts:login' %}" class="button is-light mr-5">
                                ログイン
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>